<%- include('./partials/header.ejs') %>

<h2 class="text-center text-6xl font-mono py-5">Home page</h2>
<hr>
<p class="text-center text-gray-300 w-[50%] mx-auto">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sunt
  laboriosam voluptate vel vitae a dolores officiis ipsam adipisci Lorem ipsum,
  dolor sit amet consectetur adipisicing elit. Nobis iusto incidunt dignissimos
  impedit culpa? Expedita error doloribus dolores est iusto sunt perferendis
  nihil distinctio ipsam quibusdam aspernatur voluptas repudiandae quas,
  consequuntur quidem sequi earum minima corporis vitae voluptate! Corporis qui
  a debitis blanditiis iusto, ipsam accusamus facilis? Earum, soluta officia.
</p>

<%- include('./partials/footer.ejs') %>
