<%- include('./partials/header.ejs',{ page_name: 'about'}) %>
    <div class="flex flex-col justify-center items-center m-10">
        <h1 class="mt-20 text-4xl">About Me</h1>
        <hr>
        <p class="mt-20 text-xl text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sed, quia iusto hic temporibus exercitationem tempore eveniet quod nostrum repellat.
        </p>
    </div>

<%- include('./partials/footer.ejs') %>
