<%- include('./partials/header.ejs', { page_name: 'home'}) %>
    <div class="flex flex-col justify-center items-center m-10">
        <div class="img mt-[100px]">
            <img class="rounded-full animate animate-pulse object-cover w-[300px] h-[300px]" src="/images/profile.jpeg" alt="">
        </div>
        <h1 class="mt-20 text-4xl">Welcome, Prince Ahmed</h1>
        <hr>
        <p class="mt-20">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sed, quia iusto hic temporibus exercitationem tempore eveniet quod nostrum repellat.
        </p>
    </div>

<%- include('./partials/footer.ejs') %>
