<%- include('./partials/header.ejs', { page_name: ''}) %>

<div class="flex flex-col justify-center items-center m-10">
    <h1 class="mt-20 text-4xl">Page is under Construction</h1>
    <h1 class="animate animate-spin text-4xl">#</h1>
</div>

<%- include('./partials/footer.ejs') %>