<%- include('./partials/header.ejs') %>

    <div class="grid md:grid-cols-2 grid-cols-1 px-5">
        <div class="student-form mt-5">
           <%- include('./partials/forms.ejs') %>
        </div>
        <div class="student-list mt-5">
            <%- include('./partials/s-list.ejs', {data: data}) %>
        </div>
    </div>

<%- include('./partials/footer.ejs') %> 