<%- include('./partials/header') %>

    <h1>This is home</h1>
    <br>
    <h3>This is from Dynamic</h3>
    <hr>

<%- include('./partials/hishab.ejs') %>

    <!-- <% for( var i = 0; i <= 4; i++ ) { %>
        <h4> <%= marks[i]  %> </h4>
    <% } %>    -->

<%- include('./partials/footer') %>