<div class="sidebar bg-[#222] text-white text-center grid align-items-center h-[100vh]">

    <div class="profile-picture flex items-center justify-center flex-col">
        <img class="rounded-full w-[300px] h-[300px]" src="/images/profile.jpeg" alt="profile" />
        <h3 class="user-name mt-5">Prince Ahmed</h3>
    </div>
    <!-- ============== navigation =========== -->
    <ul class="links">
            <li class="font-mono text-2xl w-[100%] hover:bg-[#888] hover:text-[#222] py-2 <% if(page_name == 'home') { %> bg-[gold] text-[#222] <% } %>">
                <a   href="/">Home</a>
            </li>
            <li class="font-mono text-2xl w-[100%] hover:bg-[#888] hover:text-[#222] py-2 <% if(page_name == 'about') { %> bg-[gold] text-[#222] <% } %>">
                <a href="/about">About</a>
            </li>
            <li class="font-mono text-2xl w-[100%] hover:bg-[#888] hover:text-[#222] py-2 <% if(page_name == 'services') { %> bg-[gold] text-[#222] <% } %>">
                <a href="/services">Services</a>
            </li>
            <li class="font-mono text-2xl w-[100%] hover:bg-[#888] hover:text-[#222] py-2 <% if(page_name == 'skills') { %> bg-[gold] text-[#222] <% } %>">
                <a href="/skills">Skills</a>
            </li>
    </ul>
   <div class="social-links">
     <!-- <i class="fa-brands fa-facebook-f"></i> -->
   </div>
</div>