@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.user-name{
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight: 800;
}

.st-font{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: gold;
    font-weight: 700;
}